@model BusinessEntity.Mensaje

@{
    var grupoMensajeId = Request.QueryString["grupoMensajeId"];
}

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Mensaje</legend>

        <div class="editor-label">
            Grupo Mensaje
        </div>
        <div class="editor-field">
            @ViewBag.GrupoMensaje.Nombre
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Descripcion,new {@class="big"})
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        @Html.Hidden("Id", Model != null ? Model.Id : 0)
        @Html.Hidden("GrupoMensajeId")

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index",new {grupoMensajeId})
</div>
