@model Web.Models.CampoList
@{
    ViewBag.Title = "Consultar Campo";
}

@using (Html.BeginForm("index", "campo", FormMethod.Post, new { id = "form-buscar" }))
{
    <div class="editor-label">
        @Html.Label("GrupoMensajeId", "Grupo Mensaje")
    </div>
    <div class="editor-field">
        @Html.DropDownList("GrupoMensajeId", "Seleccionar Grupo Mensaje")
    </div>
    
        <div class="editor-label">
        @Html.Label("MensajeId", "Mensaje")
    </div>
    <div class="editor-field">
        @Html.DropDownList("MensajeId", "Seleccionar Mensaje")
    </div>
}

<br />

@if (Model.TieneCampos)
{
    RouteValueDictionary routeValues = new RouteValueDictionary
        {
            { "grupoMensajeId", Model.GrupoMensajeId.SelectedValue },
            { "mensajeId", Model.MensajeId.SelectedValue }
        };

    <table class="list">
    <thead>
        <tr>
            <th>
                Nombre
            </th>
            <th>
                Longitud Cuerpo
            </th>
            <th>
                Selector
            </th>
            <th>
                Tipo Dato
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Cabecera)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudCuerpo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Selector)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDato.Nombre)
            </td>
        </tr>
    }
    </table>
    
    <br />
    
    <table class="list">
    <thead>
        <tr>
            <th>
                Posicion
            </th>
            <th>
                Nombre
            </th>
            <th>
                Requerido
            </th>
            <th>
                Transaccional
            </th>
            <th>
                Variable
            </th>
            <th>
                Longitud Cabecera
            </th>
            <th>
                Longitud Cuerpo
            </th>
            <th>
                Tipo Dato
            </th>
            <th>
            </th>
        </tr>
    </thead>
    @foreach (var item in Model.Cuerpo)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PosicionRelativa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Requerido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Transaccional)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Variable)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudCabecera)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongitudCuerpo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoDato.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id, "TableLinks", new { routeValues })
            </td>
        </tr>
    }
    </table>
    
    <p>
        @Html.ActionLink("Agregar", "crear", routeValues)
    </p>

}

<script type="text/javascript">
    $(function () {
        $("#GrupoMensajeId, #MensajeId").change(function () {
            if ($("#GrupoMensajeId")[0] == this) {
                $("#MensajeId").val("");
            }
            $("#form-buscar").submit();
        });
    });
</script>