@model BusinessEntity.GrupoMensaje

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>GrupoMensaje</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Nombre)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Nombre)
            @Html.ValidationMessageFor(model => model.Nombre)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TipoMensajeId,"Tipo Mensaje")
        </div>
        <div class="editor-field">
            @Html.DropDownList("TipoMensajeId", String.Empty)
            @Html.ValidationMessageFor(model => model.TipoMensajeId)
        </div>

        @Html.Hidden("Id", Model != null ? Model.Id : 0)

        <p>
            <input type="submit" value="Guardar" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Regresar", "Index")
</div>
